---
import HeroText from '~/components/widgets/HeroText.astro';
import Steps from '~/components/widgets/Steps.astro';
import PageLayout from '~/layouts/PageLayout.astro';
---

<PageLayout>
  <HeroText
    tagline="Databrush"
    title="Roadmap"
    subtitle="Our vision is to create something that is easy to use, powerful, and flexible. We are working hard to make Renoir the best tool for managing and analysing your data."
  >
  </HeroText>
  <Steps
    items={[
      {
        title: 'Phase 1: <span class="font-medium">Assessment with partners</span>',
        description:
          `<ul class="list-disc pl-6"><li>Evaluation with real-world use cases</li><li>Geo-distributed deployments</li><li>Domain-specific programming abstractions</li></ul>`,
        icon: 'tabler:package',
        year: 2025,
      },
      {
        title: 'Phase 2: <span class="font-medium">Platform Release</span>',
        description:
          `<ul class="list-disc pl-6"><li>New platform to create and manage Renoir's workflows</li><li>AI-driven tools to streamline pipeline creation</li><li>API support for easy external tool integration</li></ul>`,
        icon: 'tabler:adjustments-horizontal',
        year: 2026,
      },
      {
        title: 'Phase 3: <span class="font-medium">To the Cloud</span>',
        description:
          `<ul class="list-disc pl-6"><li>Renoir Cloud where pipelines run on our infrastructure</li><li>Host webinars and workshops for faster onboarding</li><li>Overall improvements to the platform based on user feedback</li></ul>`,
        icon: 'tabler:cloud',
        year: 2027,
      },
    ]}
  />
</PageLayout>
