---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { getHeaderData, getFooterData } from '~/navigation';
import type { MetaData } from '~/types';
import { loadLocale } from "~/lib/i18n";


const lang = Astro.currentLocale || Astro.preferredLocale || 'it';
const m = loadLocale(lang);
const headerData = getHeaderData(m, lang);
const footerData = getFooterData(m, lang);


export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
